* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F0F4C3;
    text-align: center;
}

#gameContainer {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cellContainer {
    width: 60vmin;
    height: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.cell {
    height: 18vmin;
    width: 18vmin;
    background-color: #FF7043;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem #FFAB91;
    font-size: 10vmin;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s;
}

.cell:hover {
    transform: scale(1.1);
}

h1 {
    color: #5C6BC0;
    font-size: 4rem;
    margin-bottom: 20px;
}

h2 {
    color: #7986CB;
    font-size: 2rem;
    margin: 5px;
}

button {
    padding: 1rem;
    font-size: 1.5rem;
    background-color: #29B6F6;
    border: none;
    border-radius: 1.5rem;
    color: white;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #4FC3F7;
    transform: scale(1.1);
}
